<html>
<head>

</head>
<body>

      <!-- Nav - Bar -->
   <div class="header">      
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
     CarrerSolutions
  </a>
  </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active bg-light">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active bg-light">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item active bg-light">
          <a class="nav-link" href="#">Find Jobs</a>
        </li>
        <li class="nav-item dropdown active bg-light">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recutires
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">CS</a>
            <a class="dropdown-item" href="#">ME</a>
            <a class="dropdown-item" href="#">CE</a>
          </div>
        </li>
        <li><button type="button" class="btn btn-info btn-md">Post a Job</button></li>
        <li><button type="button" class="btn btn-success">Want a Job</button></li>
       
        <li class="nav-item active bg-light">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <!-- Main -->
    <section class=main>
    <img src="assets\images\home.jpg">
    <div class="centered"><h1>Your Dream Job Is Waiting...</h1><br><p>You Connect, We Display</p></div>
    </section> 
  
   <!-- Cards  -->
   <div class="container">
   <div class="card-deck">
    <div class="card">
      <img src="assets\images\c1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets\images\c2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="assets\images\c3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="containers">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5><br>
        <h5 class="mb-1">Career Advice -
          Browse Jobs -
          Browse Companies - Many More</h5>
      </li>
     
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> CareerSolution , Job Protal</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


</body>
</html>